@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum).woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum).eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum).woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum).ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum).woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/ttf/IRANSansWeb_Black.ttf");
  font-weight: 900;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul li {
  list-style-type: none; }

.header {
  padding: 15px; }

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-top-right, .header-top-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.header-top-right {
  gap: 20px; }

.header-top-left {
  gap: 30px; }

.market-icon {
  width: 115px;
  height: 30px; }
  .market-icon a img {
    width: 100%;
    height: 100%; }

.search-box input {
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 10px 20px;
  border: none; }

.search-box input:focus {
  outline: none; }

.login-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
  background-color: unset;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  gap: 10px; }
  .login-btn button i {
    font-size: 20px; }

.login-btn button:hover {
  background-color: #e1e1e1;
  border: 1px solid black;
  transition: all 0.6s; }

.shop-cart-icon i {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
