@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum).woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum).eot");
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum).woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum).ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum).woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"), url("/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: IRANSansWeb;
  src: url("/fonts/IRANSansWeb/ttf/IRANSansWeb_Black.ttf");
  font-weight: 900;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none !important; }

ul li {
  list-style-type: none; }

.small-boxes-padding {
  padding: 20px 200px; }

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-bottom: 3px solid #ef4056; }

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header-top-right, .header-top-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.header-top-right {
  gap: 20px; }

.header-top-left {
  gap: 30px; }

.market-icon {
  width: 115px;
  height: 30px; }
  .market-icon a img {
    width: 100%;
    height: 100%; }

.search-box {
  width: 500px; }
  .search-box input {
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    width: 100%; }
  .search-box input:focus {
    outline: none; }

.login-btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
  background-color: unset;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  font-weight: bold; }
  .login-btn button i {
    font-size: 20px; }

.login-btn button:hover {
  background-color: #e1e1e1;
  border: 1px solid black;
  transition: all 0.6s; }

.shop-cart-icon i {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.6s; }

.shop-cart-icon i:hover {
  color: #ef4056;
  transition: all 0.6s; }

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.top-navbar-right, .menu-box, .nav-box, .support-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.top-navbar-right {
  gap: 20px; }

.menu-box {
  gap: 5px;
  cursor: pointer; }

.nav-box {
  gap: 20px;
  padding: 0 15px;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1; }

.nav-box-inner a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #616060;
  font-size: 15px;
  transition: all 0.6s; }

.nav-box-inner a:hover {
  color: black;
  transition: all 0.6s; }

.nav-box-inner a:hover .nav-icons i {
  transition: all 0.6s;
  color: #ef4056; }

.nav-icons i {
  color: #9f9f9f; }

.support-box {
  gap: 20px; }

.support-box-inner span {
  transition: all 0.6s;
  font-size: 15px;
  color: #616060;
  cursor: pointer; }

.support-box-inner span:hover {
  transition: all 0.6s;
  color: black; }

.top-navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.6s; }

.top-navbar-left:hover .city-icon i {
  color: #ef4056;
  transition: all 0.6s; }

.choose-city span {
  font-size: 15px;
  color: black; }

.template-trends-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.trends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.trends-image-box {
  width: 85px;
  height: 85px;
  border: 3px solid #e1e1e1;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  transition: all 0.6s; }
  .trends-image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.trends-image-box:hover {
  transition: all 0.6s;
  border: 3px solid #ef4056; }

.trends-topic span {
  font-size: 14px;
  font-weight: 600; }

.banner-slider {
  width: 100%;
  height: 400px; }
  .banner-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.useful-info-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.useful-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.useful-info:hover {
  cursor: pointer; }

.info-icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px; }
  .info-icon-box img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .info-icon-box #more-icon {
    font-size: 20px; }

.info-text-box {
  font-size: 13px; }

.info-more-icon {
  background-color: #e1e1e1;
  border-radius: 50%; }

.suggestion-image-box img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover; }

.suprising-box-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url(https://www.digikala.com/statics/img/svg/typography/freshPattern.svg) left center no-repeat;
  background-color: #e1e1e1;
  border-radius: 15px;
  padding: 25px; }

.suprise-banner-right, .suprise-banner-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px; }

.suprise-banner-discount {
  background: #00c700;
  padding: 5px;
  border-radius: 16px; }
  .suprise-banner-discount span {
    color: white; }

.suprising-products-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; }

.suprising-products {
  width: 60px;
  height: 60px;
  position: relative; }
  .suprising-products img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; }
  .suprising-products span {
    background-color: #ef4056;
    border-radius: 5px;
    padding: 2px 5px;
    position: absolute;
    right: -10px;
    bottom: -5px;
    font-size: 13px;
    color: white;
    font-weight: bold; }

.all-products-link {
  transition: all 0.6s;
  padding: 10px;
  border-radius: 25px;
  background-color: white; }
  .all-products-link a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #00c700;
    gap: 10px; }

.all-products-link:hover a {
  color: #00c700; }

.digi-plus-box {
  background-color: #930493;
  border-radius: 16px;
  display: flex; }

.digi-plus-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%; }

.digi-plus-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
  gap: 10px; }
  .digi-plus-description img {
    width: 200px; }
  .digi-plus-description span {
    color: white;
    font-size: 15px;
    font-weight: 600; }
  .digi-plus-description button {
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    gap: 10px; }

.digi-plus-left {
  background-color: white;
  border-radius: 10px;
  padding: 15px; }

.digi-plus-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.plus-header-topic span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px; }
  .plus-header-topic span i {
    color: #930493; }

.plus-header-link a {
  font-size: 15px;
  font-weight: 500;
  color: #930493;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px; }

.plus-header-link a:hover {
  color: #930493; }

.plus-image-box:hover {
  cursor: pointer; }

.digi-plus-images {
  width: 115px;
  height: 115px; }
  .digi-plus-images img {
    width: 100%;
    height: 100%; }
