@font-face {
    font-family: IRANSansWeb;
    src: url('/fonts/IRANSansWeb/eot/IRANSansWeb\(FaNum\)_Bold.eot');
    src: url('/fonts/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Bold.woff') format("woff"),                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
         url('/fonts/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_Bold.ttf') format("truetype"),
         url('/fonts/IRANSansWeb/woff2/IRANSansWeb\(FaNum\).woff2') format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: IRANSansWeb;
    src: url('/fonts/IRANSansWeb/eot/IRANSansWeb\(FaNum\)_UltraLight.eot');
    src: url('/fonts/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Light.woff') format("woff"),
         url('/fonts/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_UltraLight.ttf') format("truetype"),
         url('/fonts/IRANSansWeb/woff2/IRANSansWeb\(FaNum\)_UltraLight.woff2') format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: IRANSansWeb;
    src: url('/fonts/IRANSansWeb/eot/IRANSansWeb\(FaNum\)_Light.eot');
    src: url('/fonts/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Light.woff') format("woff"),
         url('/fonts/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_Light.ttf') format("truetype"),
         url('/fonts/IRANSansWeb/woff2/IRANSansWeb\(FaNum\)_Light.woff2') format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: IRANSansWeb;
    src: url('/fonts/IRANSansWeb/eot/IRANSansWeb\(FaNum\).eot');
    src: url('/fonts/IRANSansWeb/woff/IRANSansWeb\(FaNum\).woff') format("woff"),
         url('/fonts/IRANSansWeb/ttf/IRANSansWeb\(FaNum\).ttf') format("truetype"),
         url('/fonts/IRANSansWeb/woff2/IRANSansWeb\(FaNum\).woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: IRANSansWeb;
    src: url('/fonts/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Medium.woff') format("woff"),
         url('/fonts/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_Medium.ttf') format("truetype"),
         url('/fonts/IRANSansWeb/woff2/IRANSansWeb\(FaNum\)_Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: IRANSansWeb;
    src: url('/fonts/IRANSansWeb/ttf/IRANSansWeb_Black.ttf');
    font-weight: 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul {
    li {
        list-style-type: none;
    }
}