//import fonts and same style codes
@import "sameCode";

//mixin for flex style
@mixin flex($dir:row , $jc:center , $ai:center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}

//body styles
