//import fonts and same style codes
@import "sameCode";

//mixins and class defines
@mixin flex($dir:row , $jc:center , $ai:center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}

@mixin widthHeight($width , $height) {
    width: $width;
    height: $height;
}

.small-boxes-padding {
    padding: 20px 200px;
}

//body styles
//header
.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-bottom: 3px solid #ef4056;
}

.header-top {
    @include flex(row , space-between , center);
}

.header-top-right , .header-top-left {
    @include flex();
}

.header-top-right {
    gap: 20px;
}

.header-top-left {
    gap: 30px;
}

.market-icon {
    @include widthHeight(115px , 30px);

    a {
        img {
            @include widthHeight(100% , 100%);
        }
    }
}

.search-box {
    width: 500px;

    input {
        background-color: #e1e1e1;
        border-radius: 5px;
        padding: 10px 20px;
        border: none;
        width: 100%;
    }

    input:focus {
        outline: none;
    }
}

.login-btn {
    button {
        @include flex();
        transition: all 0.6s;
        background-color: unset;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        padding: 10px;
        gap: 10px;
        font-weight: bold;

        i {
            font-size: 20px;
        }
    }

    button:hover {
        background-color: #e1e1e1;
        border: 1px solid black;
        transition: all 0.6s;
    }
}

.shop-cart-icon {
    i {
        font-size: 30px;
        @include flex();
        transition: all 0.6s;
    }

    i:hover {
        color: #ef4056;
        transition: all 0.6s;
    }
}
//end of header

// top-navbar
.top-navbar {
    @include flex(row , space-between , center);
}

.top-navbar-right , .menu-box , .nav-box , .support-box {
    @include flex();
}

.top-navbar-right {
    gap: 20px;
}

.menu-box {
    gap: 5px;
    cursor: pointer;
}

.nav-box {
    gap: 20px;
    padding: 0 15px;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

.nav-box-inner {
    a {
        @include flex();
        gap: 5px;
        color: #616060;
        font-size: 15px;
        transition: all 0.6s;
    }

    a:hover {
        color: black;
        transition: all 0.6s;
    }

    a:hover .nav-icons i {
        transition: all 0.6s;
        color: #ef4056;
    }
}

.nav-icons {
    i {
        color: #9f9f9f;
    }
}

.support-box {
    gap: 20px;
}

.support-box-inner {
    span {
        transition: all 0.6s;
        font-size: 15px;
        color: #616060;
        cursor: pointer;
    }

    span:hover {
        transition: all 0.6s;
        color: black;
    }
}

.top-navbar-left {
    @include flex();
    gap: 10px;
    cursor: pointer;
    transition: all 0.6s;
}

.top-navbar-left:hover .city-icon i{
    color: #ef4056;
    transition: all 0.6s;
}

.choose-city {
    span {
        font-size: 15px;
        color: black;
    }
}
//end of top navbar

//trends
.template-trends-inner {
    @include flex(row , space-between , center);
}

.trends {
    @include flex(column);
}

.trends-image-box {
    @include widthHeight(85px , 85px);
    border: 3px solid #e1e1e1;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    transition: all 0.6s;

    img {
        @include widthHeight(100% , 100%);
        object-fit: contain;
    }
}

.trends-image-box:hover {
    transition: all 0.6s;
    border: 3px solid #ef4056;
}

.trends-topic {
    span {
        font-size: 14px;
        font-weight: 600;
    }
}
//end of trends

//top informations
.useful-info-inner {
    @include flex(row , space-between , center);
}

.useful-info {
    @include flex(column);
    gap: 5px;
}

.useful-info:hover {
    cursor: pointer;
}

.info-icon-box {
    @include flex();
    @include widthHeight(50px , 50px);

    img {
        @include widthHeight(100% , 100%);
        object-fit: contain;
    }

    #more-icon {
        font-size: 20px;
    }
}

.info-text-box {
    font-size: 13px;
}

.info-more-icon {
    background-color: #e1e1e1;
    border-radius: 50%;
}
//end of useful info

//suggestion img box
.suggestion-image-box {
    img {
        @include widthHeight(100% , 100%);
        border-radius: 16px;
        object-fit: cover;
    }
}
//end of suggestion img box

//suprising box
.suprising-box-banner {
    @include flex(row , space-between , center);
    background: url(https://www.digikala.com/statics/img/svg/typography/freshPattern.svg) left center no-repeat;
    background-color: #e1e1e1;
    border-radius: 15px;
    padding: 25px;
}

.suprise-banner-right , .suprise-banner-left {
    @include flex();
    gap: 30px;
}

.suprise-banner-discount {
    background: #00c700;
    padding: 5px;
    border-radius: 16px;

    span {
        color: white;
    }
}

.suprising-products-box {
    @include flex();
    gap: 20px;
}

.suprising-products {
    @include widthHeight(60px , 60px);
    position: relative;

    img {
        @include widthHeight(100% , 100%);
        object-fit: cover;
        border-radius: 50%;
    }
    
    span {
        background-color: #ef4056;
        border-radius: 5px;
        padding: 2px 5px;
        position: absolute;
        right: -10px;
        bottom: -5px;
        font-size: 13px;
        color: white;
        font-weight: bold;
    }
}

.all-products-link {
    transition: all 0.6s;
    padding: 10px;
    border-radius: 25px;
    background-color: white;

    a {
        @include flex();
        color: #00c700;
        gap: 10px;
    }
}

.all-products-link:hover {
    a {
        color: #00c700;
    }
}
//end suprising box

//digi plus box
.digi-plus-box {
    background-color: #930493;
    border-radius: 16px;
    display: flex;
}

.digi-plus-right {
    @include flex();
    height: 100%;
}

.digi-plus-description {
    @include flex(column , center , start);
    padding-top: 20px;
    gap: 10px;

    img {
        width: 200px;
    }

    span {
        color: white;
        font-size: 15px;
        font-weight: 600;
    }

    button {
        border: 1px solid white;
        background: transparent;
        border-radius: 5px;
        margin-top: 10px;
        @include flex();
        color: white;
        padding: 5px;
        gap: 10px;
    }
}

.digi-plus-left {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.digi-plus-header {
    @include flex(row , space-between , center);
}

.plus-header-topic {
    span {
        @include flex();
        gap: 5px;

        i {
            color: #930493;
        }
    }
}

.plus-header-link {
    a {
        font-size: 15px;
        font-weight: 500;
        color: #930493;
        @include flex();
        gap: 8px;
    }

    a:hover {
        color: #930493;
    }
}

.plus-image-box:hover {
    cursor: pointer;
}

.digi-plus-images {
    @include widthHeight(115px , 115px);

    img {
        @include widthHeight(100% , 100%);
    }
}